aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.2
attrs==24.3.0
botocore==1.35.83
certifi==2024.12.14
frozenlist==1.5.0
greenlet==3.1.1
idna==3.10
jmespath==1.0.1
joblib
llvmlite==0.43.0
multidict==6.1.0
propcache==0.2.1
python-dateutil==2.9.0.post0
pyzmq==26.2.0
setuptools==75.6.0
six==1.17.0
urllib3==2.2.3
wheel==0.45.1
yarl==1.18.3
